# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Python packaging
build/
dist/
*.egg-info/

# Test caches
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Logs
logs/*.log

# Archivos generados
output/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
